@model QuanLiKho.Models.Entities.BC_CuoiNgay

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BC_CuoiNgay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongThu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
