@model QuanLiKho.Models.Entities.PhieuThuChi

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhieuThuChi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MaHD, "Mã Hóa Đơn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("MaHD", null, htmlAttributes: new { @class = "form-control", id="dropdown"})
                @Html.ValidationMessageFor(model => model.MaHD, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="chitiet" class="col-md-offset-2">
            <h3>Thông tin chi tiết  hóa đơn</h3>
            <p id="time"></p>
            <p id="doitac"></p>
            <p id="tongtien"></p>
            <p id="nv"></p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tao Phiếu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $("#dropdown").change(function () {
        var ma = $(this).val();
        $.ajax({
            url: '@Url.Action("GetInfor", "PhieuChi")',
            type: 'POST',
            data: { maHD: ma },
            success: function (data) {
                $("#time").html("Ngày Nhập : " + data.time);
                $("#doitac").html("Nhà Cung Cấp : " + data.doitac);
                $("#tongtien").html("Tổng tiền : " + data.tongtien);
                $("#nv").html("Người Tạo : " + data.nv);
                console.log(data);
            },
            error: function () {
                alert("Failed to load Item");
                
            }
        })
    })
</script>